apiVersion: v1
kind: Service
metadata:
  name: payment-gateway
  labels:
    app: payment-gateway
    app.kubernetes.io/name: payment-gateway
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  ports:
    - port: 8082
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: payment-gateway
