apiVersion: v1
kind: ServiceAccount
metadata:
  name: payment-gateway
  labels:
    app: payment-gateway
    app.kubernetes.io/name: payment-gateway
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: fineract-apps
