@import "tailwindcss";

@source "./**/*.{html,js,ts,jsx,tsx}";
@source "../../packages/ui/src/**/*.{js,ts,jsx,tsx}";

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes marquee2 {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
