apiVersion: v1
kind: Service
metadata:
  name: fineract-web-app
  labels:
    app: fineract-web-app
    component: frontend
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: fineract-web-app
