apiVersion: v1
kind: Service
metadata:
  name: self-service-app
  labels:
    app: self-service-app
    app.kubernetes.io/name: self-service-app
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: self-service-app
