apiVersion: v1
kind: Service
metadata:
  name: customer-registration
  labels:
    app: customer-registration
    app.kubernetes.io/name: customer-registration
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: customer-registration
